@using ExampleCRUDwhitAjax.Resources;

@{
    ViewData["Title"] = Global.Employes;
}

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title fw-bolder fs-1">
            <span class="card-icon">
                <i class="bi bi-person-fill fs-2"></i>
            </span>
            @Global.Employes
        </div>
    </div>
    <div class="card-body">
        <!--begin::Wrapper-->
        <form id="SearchForm" onsubmit="return(false);">
            <div class="d-flex flex-stack mb-5">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <span class="svg-icon svg-icon-2 position-absolute ms-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                        </svg>
                    </span>
                    <input id="searchInput" name="Keyword" type="text" placeholder="@Global.Search" class="form-control form-control-solid me-3 w-250px ps-15 fs-4" />
                </div>
                <!--end::Search-->
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                    <input type="submit" class="btn btn-light-primary btnSearch fw-bolder fs-4 me-3" value="@Global.Search" />

                    <!-- Button create modal -->
                    <button type="button" class="openModal btnAdd btn btn-sm btn-primary fw-bolder fs-4">
                        <i class="bi bi-plus fs-1"></i>@Global.New
                    </button>
                </div>
                <!--end::Toolbar-->
            </div>
        </form>
        <!--end::Wrapper-->
        <!--begin::DataTable-->
        <table id="Employes" class="table table-hover table-striped table-rounded border gy-5 gs-5 dataTable">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                    <th class="fw-bolder fs-4">
                        #
                    </th>
                    <th class="fw-bolder fs-4">
                        @Global.Name
                    </th>
                    <th class="fw-bolder fs-4">
                        @Global.PhoneNumber
                    </th>
                    <th class="fw-bolder fs-4">
                        @Global.Email
                    </th>
                    <th class="fw-bolder fs-4">
                        @Global.Address
                    </th>
                    <th class="fw-bolder fs-4">
                        @Global.Actions
                    </th>
                </tr>
            </thead>
            <tbody class="fs-5">
            </tbody>
        </table>
        <!--end::DataTable-->
    </div>
</div>


@section scripts
    {
    <script src="~/js/Employe/Index.js"></script>
}

@section onReadyScript{
    employes.init();
}